{% extends 'registration/base.html'%}
{% load bootstrap4%}{% load static %}
{% block content%}
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6" style="background-image:url(/static/images/neighborhoods-in-calgary-1.jpg);background-repeat: no-repeat; height:650px; width:700px;">
      
      </div>
      <div id='login' class="col-md-6">
        <div class="card ">
          <div class="card-header">
            <h2 class="text-center" >Sign In</h2>
          </div>
          <div class="card-body">
            <form action="/" method="post">
              {% csrf_token%}
              {% bootstrap_form form%}
              <button class="d-inline btn-outline-primary btn-sm btn" type="submit">Login</button>
              <p class="d-inline pl-5 btn" ><a href="{% url 'signup'%} "> Sign up here</a></p>
              <input type='hidden' value='{%url "edit_profile"%} ' name='next'>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock%}