{% extends 'registration/base.html'%}
{% load bootstrap4%}
{% block content%}
<div class="container-fluid ">
    <div class="row">
      <div class="col-md-7" style="background-image:url(/static/images/shutterstock_220394431-6697c5.jpg);background-repeat: no-repeat;background-size: cover; height:650px">
      </div>
      <div class="col-md-5 pt-5">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Sign Up</h2>
          </div>
          <div class="card-body">
            <form class="" action="{%url 'signup'%} " method="post">
              {% csrf_token%}
              {% bootstrap_form form%}
              <button  type="submit" class="btn-sm btn btn-outline-primary ">Submit</button>
              <p class="btn-sm">Have an account? <a href="/">Continue to Login</a></p>
              <input type="hidden" name='next' value="/">
            </form>
          </div>
        </div>
      </div>
    </div>

</div>
{% endblock%}