{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{%if request.user.profile.community %}

{% for post in posts %}

<article class="media content-section">
  {% if post.user_profile.profile_path %}
  <img class="rounded-circle article-img" src="{{ post.user_profile.profile_path.url }}">
  {% else %}
  
  {%endif%}
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'profile' %}">{{ post.user.username }}</a>
      <small class="text-muted">{{ post.location }}</small>
      <small class="text-muted">{{ post.time_created|timesince }}</small>
    </div>
    {% if post.post_image %}

    <p class="article-content "><img class="article-img" src="{{post.post_image.url}}">
      {% endif %}
      <p class="text-muted">{{ post.description }}
      </p>
      <p class="article-content ">{% for comment in post.comment_set.all %}

        <ul style="text-decoration:none">
          <li style="text-decoration:none" class="comment-list__comment">
            <a href="{% url 'profile' %}" class="user">
              {{ comment.user.username }}
            </a>
            <span class="comment">{{ comment.comment }}</span>
          </li>
        </ul>
        {% endfor %}</p>
      {% if request.user.is_authenticated %}
      <section class="input-row">
        <div class="comment-input-wrapper">
          <form method="POST" action="{% url 'comment' post_id=post.id %}">
            {% csrf_token %}

            <input class="simple-tb" name="comment" type="text" placeholder="Add a comment...">
            <button  class="btn btn-outline-info" type="submit">Send</button>
          </form>
        </div>
        <div class="hidden-data {{ post.pk }}" style="display: none;">
          <span class="post-pk">{{ post.pk }}</span>
        </div>
      </section>
      {% endif %}
      <div>
      </div>
</article>

{% endfor %}
{%else %}
<div class="container">
  <div class="row">
    {% for community in all_communities %}
    <div class="col-md-4">
      <div class="card">>
        <div class="card-block">
          <div class="card-title">
            <p>{{community.name}}</p>
          </div>

          <div class="card-text">
            <p><a href="{% url 'join' new_community=community.id %}">Join Community</a> </p>
          </div>
          <hr>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% endblock %}